{% extends 'base.html' %}

{% block 'main' %}
<div class="row mt-4">
    <div class="col-md-9">
        <h5 class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">Customer Details</h5><hr>
        {% for x in products %}
        {% if forloop.counter == 1 %}
        <p><b>Name:</b>&nbsp;&nbsp;{{x.uid.username}}</p>
        <p><b>Email:</b>&nbsp;&nbsp;{{x.uid.username}}</p>
        <p><b>Contact:</b>&nbsp;&nbsp;{{x.uid.contact}}</p>
        {% endif %}
        {% endfor %}
        <div class="row border p-4">
            {% for x in products %}
            <div class="row shadow mb-5" style="height: 300px;">
            <div class="col-md-4 p-3">
                <img src="{{x.pid.pimage.url}}" width="228px" height="268px" alt="">
            </div>
            <div class="col-md-8">
                <p><b>Product Name: </b>&nbsp;&nbsp;{{x.pid.name}}</p>
                <p><b>Price: </b>&nbsp;&nbsp;{{x.pid.price}}INR</p>
                <p><b>Category: </b>&nbsp;&nbsp;{{x.pid.cat}}</p>
                <p><b>Product Description: </b>&nbsp;&nbsp;{{x.pid.pdetails}}</p>
                <p><b>Qty:</b>&nbsp;&nbsp;
                <a href="/updateqty/0/{{x.id}}"><button class="btn btn-dark mb-1" style="width: 20px;height: 28px;padding:0 0 5px 0;">-</button></a>
                <input type="number" value="{{x.qty}}" style="width: 30px;">
                <a href="/updateqty/1/{{x.id}}"><button class="btn btn-dark mb-1" style="width: 20px;height: 28px;padding:0 0 5px 0;">+</button></a>
                </p>
                <br>
                <a href="/remove/{{x.id}}"><button class="btn btn-danger">Remove</button></a>
            </div></div>
            {% endfor %}
        </div><br>
    </div>
    <div class="col-md-3">
      <div class="shadow p-3">
        <h4>Price Details</h4>
        <p><b>Price({{np}} items):</b>Rs.{{total}}</p><hr>
        <p><b>Total Amount:</b>Rs.{{total}}</p>
        <a href="/placeorder"><button class="btn btn-danger">Place Order</button></a>
      </div>
    </div>
</div>
{% endblock 'main' %}
