<div class="row mt-5">
    <div class="col-md-4">
      <h5>Address</h5><hr>
      2nd floor,Apolo building<br>
      near FC college road<br>
      Swarget pune<br>
      <p>Contact: 1415161318</p>
    </div>
    <div class="col-md-4">
      <h5>Quick Links</h5><hr>
      <p><a href="/home" class="anchor nav-link">Home</a></p>
      <p><a href="/about" class="anchor nav-link">About Us</a></p>
      <p><a href="/Cart" class="anchor nav-link">Cart</a></p>
      <p><a href="/contact" class="anchor nav-link">Contact</a></p>
    </div>
    <div class="col-md-4">
      <h5>Connect us</h5><hr>
      <h5><a href="" class="anchor"><i class="bi bi-facebook"></i></a></h5>
      <h5><a href=""><i class="bi bi-instagram"></i></a></h5>
      <h5><a href=""><i class="bi bi-twitter"></i></a></h5>
      <h5><a href=""><i class="bi bi-linkedin"></i></a></h5>
    </div>

  </div>
</div>



<script src="asset/js/bootstrap.min.js"></script>    
</body>
</html>